.tablet {
    background-color: white;
}

body {
    background-image: none;
}

body ul {
    padding-left: 0px;
}

body h1 {
    font-size: 1.2rem;
    margin-top: 20px;
}

.nen {
    width: 100%;
    height: 168px;
    margin-top: 5px;
}

.hang {
    padding-left: 0px;
    display: flex;
    list-style: none;
    width: 100%;
}

.thunhat {
    width: 25%;
    border-style: solid;
    border-width: 0.1px;
    border-color: #eeeeee;
    text-align: center;
}

.thuhai {
    width: 25%;
    border-style: solid;
    border-width: 0.1px;
    border-color: #eeeeee;
    text-align: center;
}

.thuba {
    width: 25%;
    border-style: solid;
    border-width: 0.1px;
    border-color: #eeeeee;
    text-align: center;
}

.thutu {
    width: 25%;
    border-style: solid;
    border-width: 0.1px;
    border-color: #eeeeee;
    text-align: center;
}

.ipadpro12 {
    width: 240px;
    height: 240px;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 25px;
}

.tabsamsung {
    width: 240px;
    height: 240px;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 25px;
}

.img:hover {
    margin-top: -15px;
    zoom: 1.05;
}

.tabhuawei {
    width: 240px;
    height: 240px;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 25px;
}

.carousel-control-prev-icon {
    width: 60px;
    height: 60px;
}

.carousel-control-next-icon {
    width: 60px;
    height: 60px;
}